<EditForm Model="@Financa" OnValidSubmit="SalvarFinanca">  
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="NomeFinanca" class="control-label">Nome Transação</label>
                <InputText id="NomeFinanca" class="form-control" @bind-Value="Financa.Descricao" />
                <ValidationMessage For="@(() => Financa.Descricao)" />
            </div>
            <div class="form-group">
                <label for="Valor" class="control-label">Valor</label>
                <InputNumber id="valor-transacao" class="form-control" @bind-Value="Financa.Valor" />
                <ValidationMessage For="@(() => Financa.Valor)" />
            </div>
            <div class="form-group">
                <label for="data-transacao" class="control-label">Data Transação</label>
                <InputDate id="data-transacao" class="form-control" @bind-Value="Financa.DataFinanca" />
                <ValidationMessage For="@(() => Financa.DataFinanca)" />
            </div>
            <div class="form-group">
                <label for="categoria" class="control-label">Categoria</label>
                <InputSelect id="categoria" class="form-control" @bind-Value="Financa.IdCategoria" >
                    
                    @foreach (Categoria item in Categorias)
                    {
                        <option value="@item.IdCategoria">@item.NomeCategoria</option>
                    }

                </InputSelect>
                <ValidationMessage For="@(() => Financa.IdCategoria)" />
            </div>
            <div class="form-group">
                <label for="tipo-transacao" class="control-label">Tipo de Transação</label>
                <InputSelect disabled="true" id="tipoTransacao" class="form-control" @bind-Value="Financa.TipoFinanca">
                    <option value="@(TipoFinancaEnum.Debito)">Débito</option>
                    <option value="@(TipoFinancaEnum.Credito)">Crédito</option>
                </InputSelect>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="@(Financa.IdFinanca ==0? "Salvar":"Atualizar")" />               
                <input type="button" class="btn btn-secondary" value="Cancelar" style="@GetCancelButtonStyle()"  @onclick="Cancel" />
                <input type="submit" class="btn btn-danger" value="Delete" style="@GetCancelButtonStyle()" @onclick="DeleteFinanca" />
            </div>
        </div>
    </div>
</EditForm>

